---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">Do you have problems with your central heating?</h2>
<p>
	Winters in {location} can be harsh, so, residents simply cannot afford to have a malfunctioning central
	heating system at home. At the same time, it's awfully common for central heating systems to break
	down. There could be various reasons for the same, but the situation can be a real mess.
</p>
<p>
	Do you find yourself in a situation where your central heating system is acting up? Fret not,
	because there are power flushing services to help you. Get in touch with us at EVO Plumbing and
	Heating.
</p>

<h3 class="h4 coloured-text">
	We are available 24x7 on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<p>We are the trusted partner of several {location} residents</p>

<p>
	Let us help you up the performance of your central heating system with our professional power
	flushing services in {location} and its surrounding areas.
</p>

<h3 class="h4">
	What does power flushing services in {location} involve?
</h3>
<p>
	The accumulation of contaminants like debris, sludge and rust often cause components of your
	central heating system to seize up. Instead of diagnosing the problem yourself, get an expert to
	help you with the power flushing services.
</p>
<p>
	These services involve a thorough cleaning process that clears the contaminants from the
	components of your heating system and restores its functionality. You don't have to be in a messy
	situation like this if you have experts like us backing you.
</p>
