---
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'EVO Plumbing and Heating';
const description = 'EVO Plumbing and Heating.';

interface service {
	id: number;
	name: string;
	slug: string;
	templates: number;
	website: string;
}

interface location {
	id: number;
	county: number | null;
	name: string;
	slug: string;
	postcode: string | null;
	tel: string | null;
	info: string | null;
}

interface county {
	id: number;
	name: string;
	slug: string;
}

// Generate every location location for each service
export async function getStaticPaths() {
	const services = await fetch(`http://localhost:3000/api/services/website/plumbing`).then(
		(response) => response.json()
	);

	const locations = await fetch('http://localhost:3000/api/locations').then((response) =>
		response.json()
	);

	const counties = await fetch('http://localhost:3000/api/counties').then((response) =>
		response.json()
	);

	// add each county as a location
	counties.forEach((county: county) => {
		locations.push({
			id: null,
			county: null,
			name: county.name,
			slug: county.slug,
			postcode: null,
			tel: null,
			info: null
		});
	});

	return services.map((service: service) => {
		return locations.map((location: location) => {
			return {
				params: { serviceSlug: service.slug, locationSlug: location.slug },
				props: { location, service }
			};
		});
	});
}

const { location, service } = Astro.props;

const locationsInSameCounty = await fetch(
	`http://localhost:3000/api/locations/county/${location.county}`
).then((response) => response.json());
---

<BaseLayout title={title} description={description}>
	<h1>{service.name}: {location.name}</h1>

	<h2>Locations in the same county</h2>

	{
		locationsInSameCounty.map(
			(locationInSameCounty: location) =>
				locationInSameCounty.slug !== location.slug && (
					<a href={`/${service.slug}/${locationInSameCounty.slug}`}>{locationInSameCounty.name}</a>
				)
		)
	}
</BaseLayout>
