---
import { getAllReviews } from '../utils/reviews';
import type { Review } from '../utils/types';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroImage from '../images/bg-contact.jpg';
import Hero from '../components/hero/Hero.astro';
import Reviews from '../components/Reviews.astro';
import PageMain from '../components/PageMain.astro';
import Card from '../components/Card.astro';
import Form from '../components/contactForm/Form';
import { FREEPHONE_NUMBER } from '../utils/constants';

const reviews: Review[] = await getAllReviews();
const firstEightReviews = reviews.slice(0, 8);

const title = 'Contact | EVO Plumbing and Heating Services';
const description =
	'Welcome to EVO Plumbing and Heating Services, your first choice for plumbing, heating, boiler repair and maintenance in South East England.';
---

<BaseLayout title={title} description={description}>
	<Hero service="Contact EVO Plumbing and Heating Services" image={HeroImage} />
	<PageMain>
		<p>
			For all your <strong>emergency and planned plumbing and heating works</strong> please call us on
		</p>
		<h3 class="coloured-text">Freephone {FREEPHONE_NUMBER}</h3>
		<p>Alternatively you can enquire online and we will get back to you shortly.</p>
		<Card title="Enquire online">
			<Form client:only="react" />
		</Card>
	</PageMain>
	<Reviews reviews={firstEightReviews} />
</BaseLayout>
