---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getAllReviews } from '../../utils/reviews';
import type { Review } from '../../utils/types';
import Hero from '../components/hero/Hero.astro';
import HeroImage from '../images/bg-home.jpg';

const reviews: Review[] = await getAllReviews();

const title = 'EVO Plumbing and Heating';
const description = 'Plumbing, heating and drainage experts in South East England.';
---

<BaseLayout title={title} description={description}>
	<Hero title="Plumbing, heating and drainage experts in South East England" image={HeroImage} />

	<h2>{reviews.length} reviews</h2>
	{
		reviews.map((review) => (
			<p>
				{review.id}, {review.date}, {review.title}, {review.postcode}
			</p>
		))
	}
</BaseLayout>
