---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getAllReviews } from '../../utils/reviews';
import type { Review } from '../../utils/types';
import ServicesByCounty from '../components/pages/ServicesByCounty.astro';

const reviews: Review[] = await getAllReviews();

const title =
	'Plumbing, heating, boiler repair and maintenance | EVO Plumbing and Heating Services';
const description =
	'Plumbing, heating, boiler repair and maintenance experts in South East England.';
---

<BaseLayout title={title} description={description}>
	<ServicesByCounty county="South East England" />

	<h2>{reviews.length} reviews</h2>
	{
		reviews.map((review) => (
			<p>
				{review.id}, {review.date}, {review.title}, {review.postcode}
			</p>
		))
	}
</BaseLayout>
