---
import { getReviewsByCountyWithBackfill } from '../../utils/reviews';
import type { review } from '../../utils/types';

const countyId = 5; // hampshire
const reviews: review[] = await getReviewsByCountyWithBackfill(countyId);
---

<h2>{reviews.length} reviews</h2>
{
	reviews.map((review) => (
		<p>
			{review.id}, {review.date}, {review.title}, {review.postcode}
		</p>
	))
}
