---
import Card from './Card.astro';
import PlumbingImage from '../images/bg-plumbing.jpg';
import BlockedSinksToiletsImage from '../images/bg-blocked-sinks-toilets.jpg';
import CentralHeatingImage from '../images/bg-central-heating.jpg';
import BoilerServicingRepairsImage from '../images/bg-boiler-servicing-repairs.jpg';
import PowerFlushingImage from '../images/bg-power-flushing.jpg';
import GutterCleaningImage from '../images/bg-gutter-cleaning.jpg';
import PatioCleaningImage from '../images/bg-patio-cleaning.jpg';
import RoofCleaningImage from '../images/bg-roof-cleaning.jpg';
import Section from './Section.astro';

interface Props {
	county?: string;
	countySlug?: string;
}

const currentPath = Astro.url.pathname;
const { county, countySlug = '' } = Astro.props;
---

<Section>
	<h2 class="sr-only">Our services</h2>
	<div class="wrapper">
		<Card
			image={PlumbingImage}
			title="Plumbing"
			href={`/plumbing${countySlug && `/${countySlug}`}`}
			linkText="Plumbing"
		>
			<p>
				From blocked pipes and water leaks to hot water cylinder, ball valves and overflow systems,
				we are on hand to deal with <strong>all aspects of plumbing</strong>.
			</p>
		</Card>

		<Card
			image={BlockedSinksToiletsImage}
			title="Blocked Sinks and Toilets"
			href={`/blocked-sinks-toilets${countySlug && `/${countySlug}`}`}
			linkText="Blocked Sinks and Toilets"
		>
			<p>
				There can be nothing more frustrating than a blocked sink or toilet. However, whatever the
				cause of the blockage, we are on hand <strong>24 hours a day, 7 days a week</strong>
				{county && `across ${county}`} to deal with the problem <strong
					>quickly and with minimum fuss</strong
				>.
			</p>
		</Card>

		<Card
			image={CentralHeatingImage}
			title="Central Heating"
			href={`/central-heating${countySlug && `/${countySlug}`}`}
			linkText="Central Heating"
		>
			<p>
				We understand that the disruption and inconvenience associated with heating problems means
				that a <strong>fast, effective response</strong> is needed. At EVO Plumbing and Heating Services,
				help is always at hand.
			</p>
		</Card>

		<Card
			image={BoilerServicingRepairsImage}
			title="Boiler Servicing and Repairs"
			href={`/boiler-servicing-repairs${countySlug && `/${countySlug}`}`}
			linkText="Boiler Servicing and Repairs"
		>
			<p>
				We can help with regular boiler maintenance to ensure its long-term performance. In the
				event of a boiler breakdown call our emergency helpline for a <strong
					>speedy resolution</strong
				>{county && ` wherever you are in ${county}`}.
			</p>
		</Card>

		<Card
			image={PowerFlushingImage}
			title="Power Flushing"
			href={`/power-flushing${countySlug && `/${countySlug}`}`}
			linkText="Power Flushing"
		>
			<p>
				Noticed a drop in the performance of your boiler and central heating system? Reduce the risk
				of breakdowns with power flushing. Not only can power flushing extend the life of your
				system, it also helps to <strong>keep your heating bills down</strong>.
			</p>
		</Card>

		<Card
			image={GutterCleaningImage}
			title="Gutter Cleaning"
			href={`/gutter-cleaning${countySlug && `/${countySlug}`}`}
			linkText="Gutter Cleaning"
		>
			<p>
				Whilst gutter cleaning can seem a real chore, the cost of roofline repairs makes it an
				essential part of property maintenance. <strong>Protect your home</strong> from water damage,
				staining, mould and wood rot with our gutter cleaning solutions.
			</p>
		</Card>

		<Card
			image={PatioCleaningImage}
			title="Patio Cleaning"
			href={`/patio-cleaning${countySlug && `/${countySlug}`}`}
			linkText="Patio Cleaning"
		>
			<p>
				<strong>Maximise the kerb appeal of your home</strong>. As a trusted patio, driveway and
				hard surface cleaning specialist, we use quality cleaning products and tried and tested
				techniques to provide outstanding results.
			</p>
		</Card>

		<Card
			image={RoofCleaningImage}
			title="Roof Cleaning"
			href={`/roof-cleaning${countySlug && `/${countySlug}`}`}
			linkText="Roof Cleaning"
		>
			<p>
				<strong>Is your roof looking a little worse for wear?</strong> Remove unsightly moss and algae
				with our help. Using specialist roof cleaning equipment, we will remove dirt, buildup and debris
				and provide a safe, intensive treatment.
			</p>
		</Card>
	</div>
</Section>

<style lang="scss">
	section {
		padding: var(--scale-32-64) 0;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: var(--scale-32-64);

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}
	}
</style>
