---
import { Image } from '@astrojs/image/components';
import LogoCheckatrade from '../../images/logo-checkatrade.svg';
import CheckatradeCircle from './CheckatradeCircle.astro';
import Section from '../Section.astro';

const checkatrade = await fetch(`http://localhost:3000/api/checkatrade`).then((response) =>
	response.json()
);
interface item {
	average: number;
	reviews: number;
	workmanship: number;
	tidiness: number;
	reliability: number;
	courtesy: number;
	accuracy: number;
}
let average = 0;
let reviews = 0;
let workmanship = 0;
let tidiness = 0;
let reliability = 0;
let courtesy = 0;
let accuracy = 0;
checkatrade.forEach((item: item) => {
	average += item.average;
	reviews += item.reviews;
	workmanship += item.workmanship;
	tidiness += item.tidiness;
	reliability += item.reliability;
	courtesy += item.courtesy;
	accuracy += item.accuracy;
});
average = Math.round((average / 3) * 100) / 100;
workmanship = Math.round((workmanship / 3) * 100) / 100;
tidiness = Math.round((tidiness / 3) * 100) / 100;
reliability = Math.round((reliability / 3) * 100) / 100;
courtesy = Math.round((courtesy / 3) * 100) / 100;
accuracy = Math.round((accuracy / 3) * 100) / 100;
---

<Section>
	<div class="wrapper">
		<header>
			<Image src={LogoCheckatrade} alt="Checkatrade logo" />
			<CheckatradeCircle score={average} />
		</header>

		<p>Average scores based on the last 12 months across our Checkatrade accounts</p>
		<p>{reviews} total reviews</p>

		<div class="scores">
			<div class="score"><span>{workmanship}</span> Workmanship</div>
			<div class="score"><span>{tidiness}</span> Tidiness</div>
			<div class="score"><span>{reliability}</span> Reliability</div>
			<div class="score"><span>{courtesy}</span> Courtesy</div>
			<div class="score"><span>{accuracy}</span> Accuracy</div>
		</div>
	</div>
</Section>

<style lang="scss">
	section {
		padding: var(--scale-32-64) 0;
	}

	.wrapper {
		display: grid;
		gap: var(--scale-16-32);
		justify-items: center;
		text-align: center;
	}

	p {
	}

	header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--scale-16-32);
	}

	img {
		width: 200px;

		@media (min-width: 768px) {
			width: auto;
		}
	}

	.scores {
		display: flex;
		align-items: center;
		gap: var(--scale-16-32);
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: left;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}

	.score {
		width: 40%;

		@media (min-width: 768px) {
			width: auto;
		}
	}

	.score span {
		color: var(--c-green-dark);
		font-weight: var(--fw-bold);
	}
</style>
